﻿
@model Blog

<form asp-area="Admin" asp-controller="blog" asp-action="update" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.Title">Name</label>
        <input asp-for="@Model.Title" placeholder="Enter title">
        
    </div>
    <div class="form-group">
        <label asp-for="@Model.Text">Price</label>
        <input asp-for="@Model.Text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImageName">ImageName</label>
        <input asp-for="@Model.ImageName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImageURL">ImageUrl</label>
        <input asp-for="@Model.ImageURL" class="form-control">
    </div>
    <a asp-area="admin" asp-controller="blog" asp-action="index">Cancel</a>
    <button type="submit" class="btn btn-primary">Update</button>
</form>